body {
    position:relative;
    height: 100%;
    background-color:#FCFCFC;

}
body:after {
    content : "";
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/texas.svg.png') no-repeat center 8em;
    opacity : 0.08;
    z-index: -1000;

}

/*body > .container{
    padding-top: 60px;
}*/

a:link {color:#7E82E8}
a:visited {color: #7E82E8}
a:hover {color:#7E82E8}
a:hover:visited {color:#7E82E8}

a:hover {
    text-decoration: none;
}

.senator .col-sm-12.senatorName{
    text-align: center;
    padding-bottom: 35px;
    padding-top: 50px;
}

.senator img.img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.carousel-inner {
    height: 22.5em;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img{
    margin-left: auto;
    margin-right:auto;
    width:50%;
}
.data div .list-unstyled {
    padding-top: 30px;
    padding-left: 70px;
}

.senator li, .bill li, .committee li {
    margin-bottom: 0.5em;
}

.committee > div[class^="col-sm-"] {
    padding-bottom: 1em;
}

.senator-map{
    float: left;
}

.social-media {
    padding-top:20px;
}

.senators .name {
    padding: 1.5em 0 0 2em;
    font-size: 18px;

}

.sen-com-list {
    padding-top: 30px;
}

.senators .senator-grid {
    margin-top: 2em;
}

.senators .photo a > img {
    display: block;
    margin: 0 1em 0 0;
}

.navbar-header:first-child a{
    background-color: darkgray;
    color: white;
}

.navbar-brand {
    margin-right: 1em;
}
.navbar .search {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer {
    background-color: #f5f5f5;
    position: relative;
    /*position: absolute;*/
    bottom: 0;
    margin-top: 35em;
    
/*width: 100%;*/
/*height: 60px;*/
}

#footer .text-muted {
    margin-top: 1em;
}

.back-button {
    margin-top: 2em;
}

.align-mid{
    text-align: center;
}


.top-container {
    padding-top: 20px;
}

.member-container{
    padding-bottom: 10px;
}

.bill-dates {
    width: 70%;
}


.bill-dates td {
    border-top: 0px !important;
    border-radius: 25px;

}

.arrow-right {
    top: 10px;
    font-size: 20px;
}

.authors {
    padding-bottom: 10px;
}

.bills {
    background-color: rgba(214, 245, 255, 1);
    border: 1px solid;
    border-radius: 25px;
}

.commit-button button{
    width: 300px;
    white-space: normal;
}
.commit-button a:link{
    color: white !important;
}

.button-list {
    padding-bottom: 7px;
    border-radius: 25px !important;
  line-height: 35px;
}

.button-list button {
    border-radius: 25px !important;
}
.bills {
  margin-bottom: 15px;
}
.bill-button button{
    width: 150px;
    white-space: normal;
}
.bill-button a:link{
    color: white !important;
}

.votes-panel .row {
  margin-right: 0;
  margin-left: 0;
}

.vote-well {
    padding: 0;
    height: 5.3em;
    line-height: 5.2em;
    color: black;
}
.vote-well .name {
    
    line-height: 2em;
    font-weight: 500;
    font-size: 1.3em;
}
.vote-well i {
    line-height: 2.5em;
}

.vote-heading {
	border-radius: 15px;
}

.bill-more-info {
	padding-bottom: 10px;
}

.carousel-style{
    padding-top: 1em;
    clear: both;
}

.lighter-gray{
    background-color: rgba(230, 230, 230, 0.42);
}

.dark-gray{
    color: rgba(16, 31, 36, 0.77);
}

a.sen-link {
    color: rgba(168, 3, 3, 0.62);
}

a.sen-link:hover {
    color:rgba(168, 3, 3, 0.62);
}

.member-list-heading {
    background-color:#D9EDF7;
}

.member-list-heading a:link{
    color:#31708F;
}

.pic-resize {
    margin: auto;
}

.fb-background {
    background-color:white;
}

.masthead-color {
    color: rgba(167, 0, 0, 1);
}
