body {
   position:relative;
   height: 100%;
   background-color:#FCFCFC;

}
body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/texas.svg.png') no-repeat center 8em;
    opacity : 0.08;
    z-index: -1000;

}
a:link {color:#7E82E8}
a:visited {color:#E8504E}
a:hover {color:#7E82E8}
a:hover:visited {color:#E8504E}

.senator img.img{
      display: block;
      margin-right: auto;
      margin-left: auto;
}

#idb-navbar li{
    margin-right:1em;
    /*margin-left:1em;*/
}

.navbar-brand {
    margin-right: 1em;
}

#footer {
  background-color: #f5f5f5;
  position: relative;
  bottom: 0;
  margin-top: 35em;
}

#footer .text-muted {
  margin-top: 1em;
}