.twitter-feed { width: 100%; }

.fb-feed { padding-left:0;}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe { width: 100% !important; }

.senator-map { width: 100%; }
.senator-map iframe { width: 100% !important; }

.commit-button button{width: 100% !important;}

.bill-button button{width: 100% !important;}

.vote-well .name {
  line-height: 4em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.pic-resize {
	margin-top: 15px;
}

.sen-com-list {
    padding-left: 70px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img{
    width:100%;
}