{% extends "base.html" %}
{% block content %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>For-Git About It Members</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Eliya Shabanov</td>
                </tr>
                <tr>
                    <td>Ian Hays</td>
                </tr>
                <tr>
                    <td>Jimmy Kettler</td>
                </tr>
                <tr>
                    <td>Keyon Mohebzad</td>
                </tr>
                <tr>
                    <td>Michael Dong</td>
                </tr>
                <tr>
                    <td>Paul Strong</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
