{% extends "base.html" %}
{% block content %}
  <div class="col-sm-8">
    {% if bill %}
      <ul class="list-unstyled">
        <li>Name: {{ bill.name }} (<a href="{{ bill.url }}">link</a>)</li>
        <li>Legislative Session: {{ bill.legislative_session }}</li>
        <li>Date Proposed: {{ bill.date_proposed }}</li>
        <li>Date Signed: {{ bill.date_signed }}</li>
        <li>Date Effective: {{ bill.date_effective }}</li>
        <li>Status: {{ bill.status }}</li>
        <li>Description: {{ bill.description }}</li>
        <li>Author: <a href="/senators/{{ bill.author.id }}/"> {{ bill.author.name }}</a></li>
        <li>Primary Committee: <a href="/committees/{{ bill.primary_committee.id }}/"> {{ bill.primary_committee.name }}</a></li>
        <li>Voters:
            <ul class="">
                {% if voters %}
                    {% for voter in voters %}
                        <li class=""><a href="/senators/{{ voter.id }}/"> {{ voter.name }}</a></li>
                    {% endfor %}
                {% else %}
                    Nobody has voted for this bill.
                {% endif %}
            </ul>
        </li>
    </ul>
    {% else %}
      <p>No Bills are available.</p>
    {% endif %}
  </div>
{% endblock %}