{% extends "base.html" %}
{% load cloudinary %}
{% block content %}
    <div class="col-sm-12">
        <div class="bill">
            <div class="col-sm-12 alignMid">
                <h1><b>{{ bill.name }}</b></h1>
            </div>
            <div class="col-sm-11 col-sm-offset-1">
                {% if authors %}
                <div class="alignMid" style="float: right"><b>Author(s):</b>
                    
                     {% for author in authors %}
                        <a href="/senators/{{ author.id }}/"><div><img class="img-rounded" src="{%  cloudinary_url author.twitter type="twitter_name" width="150" height="150" %}.jpg"></div>
                        <div class="authors"> {{ author.name }}</div></a>
                    {% endfor %}
                    
               </div>
               {% endif %}
                <ul class="list-unstyled topContainer">
                    <li><b>Legislative Session: </b>{{ bill.legislative_session }}</li>
                    <li><b>Primary Committee: </b><a href="/committees/{{ bill.primary_committee.id }}/"> {{ bill.primary_committee.name }}</a></li>
                    <li><b>Status: </b>{{ bill.status }} <span class="glyphicon glyphicon-ok"></span></li>
                    <li><b>Summary: </b>{{ bill.description }}</li>
                    
                    {% if voters %}
                    <li>Voters:
                        <ul class="">
                                {% for voter in voters %}
                                    <li class=""><a href="/senators/{{ voter.id }}/"> {{ voter.name }} </a></li>
                                {% endfor %}
                        </ul>
                    {% endif %}
                    </li>
                </ul>
                <table class="table billDates">
                       <tr class="alignMid ">
                            <td class="bg-primary"> <div><b>Date Proposed:</b></div> {{ bill.date_proposed }}</td>
                            <td><span class="glyphicon glyphicon-arrow-right arrow-right"></span></td>
                            <td class="bg-primary"> <div><b>Date Signed:</b></div>  {{ bill.date_signed }}</td>
                            <td><span class="glyphicon glyphicon-arrow-right arrow-right"></span></td>
                            <td class="bg-primary"> <div><b>Date Effective:</b></div>  {{ bill.date_effective }}</td>
                        </tr>
                </table>
                <div>
                    {% if bill.url %}<b>Want more information about this bill? </b><a href="{{ bill.url }}">Click here</a>{% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-11 back-button">
            <a href="/bills/"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back to Bills</button></a>
        </div>
    </div>
{% endblock %}