{% extends "base.html" %}
{% block content %}
    <div class="committee">
        <div class="col-sm-12">
            <h1>{{ committee.name }}</h1>
        </div>
        <div class="col-sm-11 col-sm-offset-1">
            <ul class="list-unstyled">
                <li>Description: {{ committee.description }}</li>
                <li>Appointment Date: {{ committee.appointment_date }}</li>
                <li>Chair: <a href="/senators/{{ committee.chair.id }}/"> {{ committee.chair }}</a></li>
                <li>Vice-Chair: <a href="/senators/{{ committee.vice_chair.id }}/"> {{ committee.vice_chair }}</a></li>
                <li>Members:
                    <ul class="">
                        {% if senator_set %}
                            {% for member in senator_set %}
                                <li class=""><a href="/senators/{{ member.id }}/"> {{ member.name }}</a></li>
                            {% endfor %}
                        {% else %}
                            There are no senators in this committee.
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 back-button">
            <a href="/committees/"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back to Committees</button></a>
        </div>
    </div>
{% endblock %}