{% extends "base.html" %}
{% block content %}
    <div class="jumbotron col-lg-12 align-mid">
        <h1 class="">84th Texas Senate Session</h1>
        <div class="lead col-lg-12">This site is a database of current Texas Senators and their committee membership, along with notable bills that passed in the Senate in the current session and have been signed into law. </div>   
    </div>
    <div class="table-responsive col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>For-Git About It Members</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Eliya Shabanov</td>
                </tr>
                <tr>
                    <td>Ian Hays</td>
                </tr>
                <tr>
                    <td>Jimmy Kettler</td>
                </tr>
                <tr>
                    <td>Keyon Mohebzad</td>
                </tr>
                <tr>
                    <td>Michael Dong</td>
                </tr>
                <tr>
                    <td>Paul Strong</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}



