{% extends "base.html" %}
{% block content %}
<!-- Query 1 -->
<div>
    <h4> List of all senators who have been absent at least once </h4>
    <h6>{{q1Text}}</h6>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for x in q1Dict %}
                <tr>
                    <td>{{x.name}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>        
    <br>
</div>

<!-- Query 2 -->
<div>
    <h4> The Senators who've voted Nay the most</h4>
    <h6>{{q2Text}}</h6>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>NayCount</th>                    
                </tr>
            </thead>
            <tbody>
                {% for x in q2Dict %}
                <tr>
                    <td>{{x.name}}</td>
                    <td>{{x.NayCount}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>        
    <br>
</div>
{% endblock %}

