{% extends "base.html" %}
{% block content %}
    <!-- query 1 -->
    <div>
      <h3>List of all senators who have been absent at least once</h3>
      <h5>
        SELECT
            name                                                                                  
        FROM
            idb_vote v 
        LEFT JOIN
            idb_senator s
            ON v.senator_id = s.id
        WHERE
            v.vote = 'ABS'</h5>      
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Leticia Van de Putte</td>
                    </tr>
                    <tr>
                        <td>John Carona</td>
                    </tr>
                </tbody>
            </table>
        </div>        
      <br>
    </div>

    <!-- query 2 -->
    <div>
        <h3>Senators who have one or more 'Nay' votes, sorted by number of 'Nay' votes</h3>
        <h5>
            SELECT
                name, S.NayCount           
            FROM
            ( 
                SELECT
                    senator_id, NayCount                                              
                FROM
                (
                    SELECT
                        senator_id,
                        COUNT(*) as NayCount                                                                                    
                    FROM
                        idb_vote                                                                                        
                    LEFT JOIN
                        idb_senator                                                                                                                                                                           
                            ON idb_vote.senator_id = idb_senator.id                                                                           
                    WHERE
                        idb_vote.vote = 'NAY'
                    GROUP BY
                        idb_vote.senator_id
                ) AS R
               
            ) AS S
            INNER JOIN idb_senator
                ON S.senator_id = idb_senator.id
            ORDER BY S.NayCount DESC
        </h5>      
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>NayCount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dan Patrick</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Donna Campbell</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Tony Fraser</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Charles Schwertner</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Robert Duncan</td>
                        <td>1</td>
                    </tr>                    
                    <tr>
                        <td>Jose Rodriguez</td>
                        <td>1</td>
                    </tr>
  
                </tbody>
            </table>
        </div>     
      <br>
    </div>

    <!-- query 3 -->
    <div>
        <h3>The most prolific bill authors in the senate</h3>
        <h5>
            SELECT
                name, S.AuthorCount           
            FROM
            ( 
                SELECT
                    senator_id, AuthorCount                                              
                FROM
                (
                    SELECT
                        senator_id,
                        COUNT(*) as AuthorCount                                                                                    
                    FROM
                        idb_bill_authors                                                                                        
                    JOIN
                        idb_senator                                                                                                                                                                           
                            ON idb_bill_authors.senator_id = idb_senator.id
                    GROUP BY 
                        idb_bill_authors.senator_id
                ) AS R
               
            ) AS S
            INNER JOIN idb_senator
                ON S.senator_id = idb_senator.id
            ORDER BY S.AuthorCount DESC
            LIMIT 2
        </h5>      
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>AuthorCount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jane Nelson</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Judith Zaffirini</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>
        </div>     
      <br>
    </div>
{% endblock %}
