{% extends "base.html" %}
{% block content %}
<!-- Query 1 -->
<div>
    <h4> List of all senators who have been absent at least once </h4>
    <h6>{{q1Text}}</h6>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for x in q1Dict %}
                <tr>
                    <td>{{x.name}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>        
    <br>
</div>

<!-- Query 2 -->
<div>
    <h4> The Senators who've voted Nay the most</h4>
    <h6>{{q2Text}}</h6>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>NayCount</th>                    
                </tr>
            </thead>
            <tbody>
                {% for x in q2Dict %}
                <tr>
                    <td>{{x.name}}</td>
                    <td>{{x.naycount}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>        
    <br>
</div>

<!-- Query 3 -->
<div>
    <h4> The most prolific bill authors in the senate</h4>
    <h6>{{q3Text}}</h6>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>AuthorCount</th>                   
                </tr>
            </thead>
            <tbody>
                {% for x in q3Dict %}
                <tr>
                    <td>{{x.name}}</td>
                    <td>{{x.authorcount}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>        
    <br>
</div>

<!-- Query 4 -->
<div>
    <h4> The Senator(s) who's in the most committees</h4>
    <h6>{{q4Text}}</h6>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>CommitteeCount</th>                    
                </tr>
            </thead>
            <tbody>
                {% for x in q4Dict %}
                <tr>
                    <td>{{x.name}}</td>
                    <td>{{x.committeecount}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>        
    <br>
</div>

<!-- Query 5 -->
<div>
    <h4> The bill that spent the most time between proposal and effect</h4>
    <h6>{{q5Text}}</h6>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date_Proposed</th>
                    <th>Date_Effective</th>
                </tr>
            </thead>
            <tbody>
                {% for x in q5Dict %}
                <tr>
                    <td>{{x.name}}</td>
                    <td>{{x.date_proposed}}</td>
                    <td>{{x.date_effective}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>        
    <br>
</div>
{{q1Dict}}
{{q2Dict}}
{{q3Dict}}
{% endblock %}

