{% extends "base.html" %}
{% load cloudinary %}
{% block content %}
    <div class="col-sm-12 senators">
        {% if latest_senators_list %}
            {% for senator in latest_senators_list %}
                <div class="col-sm-4 senator-grid">
                    <div class="photo">
                        <a class="pull-left sen-link">
                            {% if senator.photo_url %}
                                <img class="img-rounded" src="{{  senator.photo_url }}" width="73" height="73">
                            {% else %}
                                <img class="img-rounded" src="{%  cloudinary_url senator.twitter type="twitter_name" %}.jpg">
                            {% endif %}
                        </a>
                    </div>
                    <div class="name">
                        <a class="sen-link"href="/senators/{{ senator.id }}/" class="media-heading">{{ senator.name }}</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No Senators are available.</p>
        {% endif %}
    </div>
{% endblock %}