{% extends "base.html" %}
{% load cloudinary %}
{% block content %}
    {% if senator %}
    <div class=" row-fluid senator">
    <img class="img" src="{%  cloudinary_url senator.twitter type="twitter_name" width="200" height="200" %}.jpg">
    <ul class="list-unstyled">
        <li>Senator Name: {{ senator.name }}</li>
        <li>Political Party: {{ senator.party }}</li>
        <li>Occupation: {{ senator.occupation }}</li>
        <li>Legislative Experience: {{ senator.legislative_experience }}</li>
        <li>District: {{ senator.district }}</li>
        <li>Twitter: <a href="http://twitter.com/{{ senator.twitter }}">@{{ senator.twitter }}</a></li>
        <li>Facebook: <a href="{{ senator.facebook }}">{{ senator.facebook }}</a></li>
        <li>Bills:
            <ul class="">
                {% if bills %}
                    {% for bill in bills %}
                        <li class=""><a href="/bills/{{ bill.id }}/"> {{ bill.name }}</a></li>
                    {% endfor %}
                {% else %}
                    There are no bills associated with this senator.
                {% endif %}
            </ul>
        </li>
        <li>Committees:
            <ul class="">
                {% if committees %}
                    {% for committee in committees %}
                        <li class=""><a href="/committees/{{ committee.id }}/"> {{ committee.name }}</a></li>
                    {% endfor %}
                {% else %}
                    {{ senator.name }} is not in any committees.
                {% endif %}
            </ul>
        </li>
        <li>Contact Office:
        <p> {{ senator.map |safe }}</p></li>

    </ul>
{% else %}
    <p>No Senators are available.</p>
{% endif %}
    </div>
{% endblock %}