{% extends "base.html" %}
{% load cloudinary %}
{% block content %}
    {% if senator %}
    <img src="{%  cloudinary_url senator.twitter type="twitter_name" width="200" height="200" %}.jpg">
    <ul class="list-unstyled">
        <li>Senator Name: {{ senator.name }}</li>
        <li>Political Party: {{ senator.political_party }}</li>
        <li>Occupation: {{ senator.occupation }}</li>
        <li>Legislative Experience: {{ senator.legislative_experience }}</li>
        <li>District: {{ senator.district }}</li>
        <li>Twitter: {{ senator.twitter }}</li>
        <li>Facebook: {{ senator.facebook }}</li>
        <li>Bills:
            <ul class="">
                {% if bills %}
                    {% for bill in bills %}
                        <li class=""><a href="/bill/{{ bill.id }}/"> {{ bill.name }}</a></li>
                    {% endfor %}
                {% else %}
                    There are no bills associated with this senator.
                {% endif %}
            </ul>
        </li>
        <li>Committees:
            <ul class="">
                {% if committees %}
                    {% for committee in committees %}
                        <li class=""><a href="/committee/{{ committee.id }}/"> {{ committee.name }}</a></li>
                    {% endfor %}
                {% else %}
                    {{ senator.name }} is not in any committees.
                {% endif %}
            </ul>
        </li>
        <li>Office Headquarters:
        <p> {{ senator.map |safe }}</p></li>

    </ul>
{% else %}
    <p>No Senators are available.</p>
{% endif %}
{% endblock %}